<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-language" content="en" />
  <title>Square</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="{{ url_for('static', filename='styles/slate-bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='styles/sb-admin.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='styles/custom.css') }}" rel="stylesheet">
  <!-- <link href="{{ url_for('static', filename='styles/scrolling-nav.css') }}" rel="stylesheet"> -->

  <!-- jQuery -->
  <!-- <script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script> -->
  
  <!-- Bootstrap Core JavaScript -->
  <!-- <script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script> -->

  <script type="text/javascript" data-main="/static/scripts/js/main.js" src="/static/scripts/js/require.js"></script>
</head>

<body>
  <div id="react-root">
  </div>
</body>

</html>
